/* Style global pour "Mes Réservations" */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image: url('../image/fleurs.jpg'); /* Remplace par le chemin vers ton image */
    background-size: cover; /* Couvrir tout l'écran */
    background-position: center;
    height: 100vh; /* Hauteur de 100% de la vue */
    align-items: center;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
}

body, html:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Superposition noire avec opacité de 40% */
    z-index: 1;
}

h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding-top: 70px;
}

/* Style du tableau des réservations */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    background-color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Style pour la notification */
.notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(20px);
}

.notification.error {
    background-color: #f44336; /* Rouge pour les erreurs */
}

/* Bouton d'annulation */
.button-container {
    display: flex;
    justify-content: center; /* Centre le bouton horizontalement */
}

button {
    padding: 10px 20px;
    background-color: #E8AABE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #CA3C66;
}

button:active {
    background-color: #9A3150;
}
